﻿@page "/items"

@using BlazorSample.Data
@inject IItemRepository repository

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (items == null)
{
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">LOADING</div>
</div>
}
else
{
    <DataGrid TItem="Item"
              Data="@items"
              @bind-SelectedRow="@currentItem">
        <DataGridCommandColumn TItem="Item" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.idx)" Caption="#" Sortable="false" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.itemName)" Caption="First Name" Editable="true" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.itemCode)" Caption="Last Name" Editable="true" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.itemModel)" Caption="EMail" Editable="true" />
        <DataGridColumn TItem="Item" Field="@nameof(Item.remark)" Caption="City" Editable="true" />
    </DataGrid>
    <Buttons>
        <Button Color="Color.Secondary" Clicked="@ShowNewItem">NEW</Button>
        <Button Color="Color.Secondary" Clicked="@ShowEditItem">EDIT</Button>
        <Button Color="Color.Secondary" Clicked="@SHowDelItem">DELETE</Button>
    </Buttons>

    <Modal @ref="modalRef">
        <ModalBackdrop />
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle>ITEM @itemMode</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
                <div class="form-group">
                    <label for="exampleInputEmail1">Code</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="currentItem.itemCode">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail12">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp" @bind="currentItem.itemName">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@ConfModal">@itemMode</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Modal @ref="modelalert">
        <ModalBackdrop />
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle>@alertTitle</ModalTitle>
                <CloseButton Clicked="@HideAlert" />
            </ModalHeader>
            <ModalBody>
                @alertText;
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Danger" Clicked="@HideAlert">Close</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

}

@code {
    private List<Item> items;
    private Modal modalRef;
    private Modal modelalert;
    private Item currentItem;
    private string alertTitle = "ALERT";
    private string alertText = string.Empty;
    private string itemMode = string.Empty;
    private string itemButtonText = string.Empty;

    async protected override Task OnInitializedAsync()
    {
        currentItem = new Item();
        items = await repository.Items();
    }

    private void ShowNewItem()
    {
        itemMode = "ADD";
        currentItem = new Item();
        currentItem.idx = new Guid();
        currentItem.itemName = "품명";
        currentItem.itemCode = "코드";
        modalRef.Show();
    }
    private void ShowEditItem()
    {
        itemMode = "EDIT";
        if (currentItem.itemName == null)
        {
            alertText = "수정할 아이템을 선택하세요";
            modelalert.Show();
            return;
        }

      

        modalRef.Show();
    }
    private void SHowDelItem()
    {
        itemMode = "DELETE";
        if (currentItem.itemName == null)
        {
            alertText = "삭제할 아이템을 선택하세요";
            modelalert.Show();
            return;
        }



        modalRef.Show();
    }
    private void ConfModal()
    {
        if(itemMode == "ADD")
        {
            repository.Add(currentItem);
            this.items.Add(currentItem);
        }
        else if(itemMode == "DELETE")
        {
            repository.Remove(currentItem);
            this.items.Remove(currentItem);
        }
        else if(itemMode == "EDIT")
        {
            repository.Update(currentItem);
            var dr = this.items.Where(t => t.idx == currentItem.idx).FirstOrDefault();
            dr.itemCode = currentItem.itemCode;
            dr.itemName = currentItem.itemName;
            dr.itemModel = currentItem.itemModel;
            dr.remark = currentItem.remark;
        }

        modalRef.Hide();
        StateHasChanged();
    }
    private void HideModal()
    {
        modalRef.Hide();
    }
    private void HideAlert()
    {
        modelalert.Hide();
    }
}