﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Bootstrap</a>
        <a href="https://blazorise.com/docs/" target="_blank">Blazorise</a>
        <a href="https://bootstrapdemo.blazorise.com/tests/buttons" target="_blank">Blazorise(Demo)</a>
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
